# Frontend
NEXT_PUBLIC_INFURA_PROJECT_ID=YOUR_INFURA_PROJECT_ID
NEXT_PUBLIC_SEPOLIA_RPC=https://sepolia.infura.io/v3/YOUR_INFURA_PROJECT_ID
NEXT_PUBLIC_CONTRACT_ADDRESS=YOUR_DEPLOYED_UNISWAP_CLONE_ADDRESS
NEXT_PUBLIC_COINGECKO_BASE=https://api.coingecko.com/api/v3

# Hardhat / Deployment
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_PROJECT_ID
PRIVATE_KEY=your_sepolia_deployer_private_key
ETHERSCAN_API_KEY=YOUR_ETHERSCAN_API_KEY
